[Unit]
Description=jmpd server daemon
Requires=network.target local-fs.target

[Service]
Environment=REGISTRY_HOST=localhost
Environment=REGISTRY_PORT=6600
Environment=WEB_PORT=8080
Environment=USER=nobody
EnvironmentFile=-/etc/conf.d/jmpd
ExecStart=/usr/bin/jmpd -h $REGISTRY_HOST -p $REGISTRY_PORT -w $WEB_PORT --user $USER  
Type=simple

[Install]
WantedBy=multi-user.target
